.container {
    display : -webkit-box;
    display : -webkit-flex;
    display : -ms-flexbox;
    display :         flex;
    -webkit-flex-wrap : wrap;
            flex-wrap : wrap;
    width : 1200px;
    margin : 0 auto; 

        -ms-flex-wrap : wrap;
}
